* {
  margin: 0;
  padding: 0;
  border: none;
}
.slide-wrap {
  max-width: 640px;
  margin: 0 auto;
  padding: 12px;
  box-shadow: 0 0 2px #ccc;
}
.slide-wrap .slide-title {
  margin-top: 12px;
  margin-bottom: 12px;
  padding-left: 12px;
  border-left: 5px solid #ccc;
  font-size: 16px;
  font-weight: normal;
}
.slide-wrap .slide-area {
  width: 100%;
  min-height: .01%;
  overflow-x: auto;
}
.slide-wrap .slide-area::-webkit-scrollbar {
  display: none;
}
.slide-wrap .slide-area .tb-row {
  display: table-row;
}
.slide-wrap .slide-area .tb-row .tb-cell {
  display: table-cell;
  width: 110px;
  padding: 0 8px 0 0;
}
.slide-wrap .slide-area .tb-row .tb-cell .tb-item {
  width: 110px;
}
.slide-wrap .slide-area .tb-row .tb-cell .tb-item .tb-img,
.slide-wrap .slide-area .tb-row .tb-cell .tb-item .tb-img img {
  width: 110px;
  height: 54px;
}
.slide-wrap .slide-area .tb-row .tb-cell .tb-item .tb-title {
  font-size: 14px;
  font-weight: normal;
}
.slide-wrap .slide-area .tb-row .tb-cell .tb-item .tb-des {
  display: -webkit-box;
  font-size: 12px;
  color: #ccc;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
